# Sample configuration for the AWS beta deployment.
VISTA_ENV=prod
VISTA_GITLAB_READ_TOKEN=

# Normal VISTA config (see ../.env.sample for more info)
VISTA_BACKEND_MODEL="azure:gpt-5"
AZURE_OPENAI_ENDPOINT=https://aoai-eastus2-aaims.openai.azure.com
OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_API_KEY=...

# Using a tunnel to connect, so keep it host as localhost
VISTA_BACKEND_HOST="127.0.0.1"
VISTA_BACKEND_PORT="8001"
VISTA_MCP_URL="http://localhost:8000/mcp"
VISTA_UI_HOST="127.0.0.1"
VISTA_UI_PORT="3000"

VISTA_BACKEND_ENCRYPTION_KEY=
VISTA_DATA_TOKEN=

VISTA_MCP_DISABLE_SERVERS=agenthpc

VISTA_MCP_ODO_GLOBUS_REFRESH_TOKEN=
VISTA_MCP_FRONTIER_GLOBUS_REFRESH_TOKEN=
GLOBUS_SETUP_KEY=

HF_TOKEN=
